<div class="fixaddress" ng-controller="damagedetailCtrl" ng-init="initData()">
    <h2>定损详情</h2>
    <button class="goback" ng-click="back()"></button>
    <div class="detail_div" style="margin-bottom:90px">
        <div class="flex_div_line">
            <div>车牌号：</div>
            <div>{{detail.accidentCarNo}}</div>
            <div>案件号：</div>
            <div>{{detail.caseNo}}</div>
            <div>
                出险日期：
            </div>
            <div>
                {{detail.accidentTime | ToDay}}
            </div>
        </div>
    </div>
    <hr style="    margin-bottom: 30px;">
    <div ui-view></div>
</div>