<div class="adddriver" ng-controller="shop4snumCtrl" ng-init="initData()">
    <h2>人员管理</h2>
    <button class="goback" ng-click="back()"></button>
    <p class="search_div">
        <button class="button" style="float:left" ng-click="addDriver()">
            添加
        </button>
    </p>
    <p>

    </p>
    <div class="addinspector_div">
        <h2 class="alert_add_h2">添加</h2>
        <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
        <p style="    text-align: left;    margin-left: 100px;width:300px">
            姓&emsp;名：&emsp;
            <input type="text" maxlength="10"  class="input" style="width: 70%;" ng-model="Name" maxlength="10">
        </p>
        <p style="text-align: left;margin-left: 100px;width:300px">
            手机号：&emsp;
            <input type="text" class="input" style="width: 70%;" ng-model="phone" maxlength="11">
        </p>
        <p style="text-align: left;margin-left: 100px;width:300px">
            角&emsp;色：&emsp;
            <select type="text" ng-options="a.id as a.name for a in msgText" class="input" style="width: 70%;" ng-model="msg_type"></select>
        </p>
        <p>
            <button class="button {{Name != '' && phone != ''?'':'button_disabled'}}" ng-click="submit_add()" ng-disabled="Name != '' && phone != ''?'':'true'">确定</button>
            <button class="button button_del" ng-click="close()">取消</button>
        </p>
    </div>
    <div class="addinspector_div" ng-hide="edit_div" id="edit">
        <h2 class="alert_add_h2">修改</h2>
        <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
        <p style="    text-align: left;    margin-left: 100px;width:300px">
            姓&emsp;名：&emsp;
            <input type="text" maxlength="10" class="input" style="width: 70%;" ng-model="editName">
        </p>
        <p>
            <button class="button {{editName != ''  ?'':'button_disabled'}}" ng-click="submit_edit()" ng-disabled="editName != '' ?'':'true'">确定</button>
            <button class="button button_del" ng-click="close()">取消</button>
        </p>
    </div>
    <h2>{{tips}}</h2>
    <table ng-hide="table" cellspacing="0" class="table">
        <tr>
            <th>角色</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="a in list">
            <td>{{shop4sMsg(a.type)}}</td>
            <td>{{a.afterSaleMgr}}</td>
            <td>{{a.afterSalePhone}}</td>
            <td>
                <span class="button_span" ng-click="update(a)">修改</span>
                <span class="button_span" ng-click="delete(a)">删除</span>
            </td>
        </tr>
    </table>

    <div class="alert_bg" ng-click="close()"></div>

</div>