<div class="fixaddress" ng-controller="detailCtrl" ng-init="initData()">

    <h2>订单详情</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">订单{{detail.orderNo}} &emsp;&emsp;
        <span ng-hide="disaster == 'not'">大灾{{title}}</span>
    </h4>
    <table class="detail_table">
        <tr>
            <td>订单状态：</td>
            <td>{{detail.statusDesc}}</td>
            <td>订单类型：</td>
            <td>{{detail.orderTypeDesc}}&emsp;{{detail.rescueTypeDesc}}</td>
            <td ng-hide="disaster == 'not'">二次派单：</td>
            <td ng-hide="disaster == 'not'">{{detail.sourceOrderNo == null || detail.sourceOrderNo == ''?'否':'是'}}</td>

        </tr>
        <tr>
            <td>订单来源：</td>
            <td>{{detail.createRoleDesc}} {{detail.createName}}</td>
            <td>标的/三者：</td>
            <td>{{detail.insuranceTypeDesc}}</td>
            <td>下单时间：</td>
            <td>{{detail.createTime | ToLocal}}</td>

        </tr>
        <tr>
            <td>报案人：</td>
            <td>{{detail.accidentDriverName}}</td>
            <td>报案电话：</td>
            <td>{{detail.accidentDriverPhone}}</td>
            <td>车牌号：</td>
            <td>{{detail.accidentCarNoDesc}}</td>
        </tr>
        <tr>
            <td>订单费用：</td>
            <td>{{detail.platformPayments | Price}}</td>
            <td>救援车类型：</td>
            <td>{{detail.carTypeDesc}}</td>
            <td>收费方式：</td>
            <td>{{detail.chargeModeDesc}}</td>
        </tr>
        <tr>
            <td>下单备注：</td>
            <td style="max-width: 30px;">
                <audio ng-src="{{detail.remarkOfVoice}}" controls></audio>
            </td>
            <td>推修类型：</td>
            <td style="max-width: 30px;">{{detail.pushFixTypeDesc}}</td>
            <td>推修备注：</td>
            <td style="max-width: 30px;">
                <audio ng-src="{{detail.pushFixRemark}}" controls></audio>
            </td>
        </tr>
        <tr>
            <td>
                车辆信息：
            </td>
            <td>
                {{detail.carSizeDesc}}
            </td>
            <td>
                出险日期：
            </td>
            <td>
                {{detail.accidentTime | ToDay}}
            </td>
            <td colspan="2" style="text-align:center">
                <span style="margin-left: -95px;color:#3e99ff;" ng-hide="!detail.noNeedCompensate">*损失小，客户不打算理赔</span>
            </td>

        </tr>
        <tr ng-hide="detail.status != 8 && detail.status != 81 && detail.status != 82">
            <td>取消订单备注：</td>
            <td style="max-width: 30px;">{{detail.cancelCause}}</td>
        </tr>
    </table>
    <h4 class="detail_title">机构信息</h4>
    <table class="detail_table">
        <tr>
            <td>案件来源：</td>
            <td>{{detail.caseSource}}</td>
            <td>案件号：</td>
            <td>{{detail.caseNo}}</td>
        </tr>
        <tr>
            <td>查勘员：</td>
            <td>{{detail.inspectorName}}</td>
            <td>查勘电话：</td>
            <td>{{detail.inspectorPhone}}</td>
            <td>查勘员ID：</td>
            <td>{{detail.inspectorUserId}}</td>
        </tr>
    </table>
    <h4 class="detail_title" ng-hide="detail.grabFleetId == null || detail.grabFleetId == 0">施救单位</h4>
    <table class="detail_table" ng-hide="detail.grabFleetId == null || detail.grabFleetId == 0">
        <tr>
            <td>接单车队：</td>
            <td>{{detail.grabFleetName}}</td>
        </tr>
        <tr>
            <td>调度姓名：</td>
            <td>{{detail.grabUserName}}</td>
            <td>调度电话：</td>
            <td>{{detail.grabPhone}}</td>
            <td>调度ID：</td>
            <td>{{detail.grabUserId}}</td>
        </tr>
    </table>
    <h4 class="detail_title">地图位置</h4>
    <table class="detail_table">
        <tr>
            <td>事故地点：</td>
            <td style="width: 200px;">{{detail.accidentAddress}}</td>
            <td>经度：</td>
            <td>{{detail.accidentLongitude}}</td>
            <td>纬度：</td>
            <td>{{detail.accidentLatitude}}</td>
            <td>
                <button class="button" ng-click="location(detail)">地图定位</button>
            </td>
        </tr>
        <tr>
            <td style="width: 130px;">拍照事故地点：</td>
            <td style="width: 200px;">{{detail.accidentAddressPicture}}</td>
        </tr>
        <tr>
            <td>推修厂：</td>
            <td style="width: 200px;">{{detail.fixAddress}}</td>
            <td>经度：</td>
            <td>{{detail.fixLongitude}}</td>
            <td>纬度：</td>
            <td>{{detail.fixLatitude}}</td>
        </tr>
        <tr>
            <td style="width: 130px;">拍照维修地点：</td>
            <td style="width: 200px;">{{detail.fixAddressPicture}}</td>
        </tr>
    </table>
    <h4 class="detail_title">
        下单拍摄
    </h4>
    <div class="img_div">
        <p>下单照片</p>
        <img ng-repeat="a in detail.orderPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">

        <p class="addorder_p">下单视频</p>
        <video ng-repeat="a in detail.videos" ng-src="{{a.path}}" controls></video>
    </div>
    <h4 class="detail_title">
        用户信息采集
    </h4>
    <div>
        <p style="margin-left:46px;">
            <span style="color:#c31f20">
                车主电话：
            </span> {{detail.carOwnerPhone}}
        </p>
        <div class="card_div">
            <img ng-src="{{detail.licenseInfo.idCard.zoomOutView}}" alt="" ng-click="openPic(detail.licenseInfo.idCard.path)">
            <div class="card_text">
                <h4>
                    身份证
                </h4>
                <table>
                    <tr>
                        <td>
                            <span>
                                姓名：
                            </span>
                            {{detail.licenseInfo.idCardName}}
                        </td>
                        <td>
                            <span>性别：</span>{{detail.licenseInfo.idCardSex}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>出生：</span>{{detail.licenseInfo.idCardBirth}}
                        </td>
                        <td>
                            <span>住址：</span>{{detail.licenseInfo.idCardAddr}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>身份证号：</span>{{detail.licenseInfo.idCardNo}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>采集人员：</span>{{detail.licenseInfo.idCreateByDesc}}
                        </td>
                        <td>
                            <span>采集时间：</span>{{detail.licenseInfo.idCreateTime | ToLocal}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card_div">
            <img ng-src="{{detail.licenseInfo.drivingLicense.zoomOutView}}" alt="" ng-click="openPic(detail.licenseInfo.drivingLicense.path)">
            <div class="card_text">
                <h4>
                    行驶证
                </h4>
                <table style="width:50%">
                    <tr>
                        <td>
                            <span>所有人：</span>{{detail.licenseInfo.drivingLicenseName}}
                        </td>
                        <td>
                            <span>住址：</span>{{detail.licenseInfo.drivingLicenseAddr}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>车牌号码：</span>{{detail.licenseInfo.drivingLicenseNo}}
                        </td>
                        <td>
                            <span>车辆类型：</span>{{detail.licenseInfo.drivingLicenseVehicleType}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>品牌型号：</span>{{detail.licenseInfo.drivingLicenseBrandModel}}
                        </td>
                        <td>
                            <span>车辆识别代号：</span>{{detail.licenseInfo.drivingLicenseVin}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>发动机号码：</span>{{detail.licenseInfo.drivingLicenseEngineNo}}
                        </td>
                        <td>
                            <span>注册日期：</span>{{detail.licenseInfo.drivingLicenseRegistDate}}
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <span>发证日期：</span>{{detail.licenseInfo.drivingLicenseCertifyDate}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>采集人员：</span>{{detail.licenseInfo.drivingCreateByDesc}}
                        </td>
                        <td>
                            <span>采集时间：</span>{{detail.licenseInfo.drivingCreateTime | ToLocal}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card_div">
            <img ng-src="{{detail.licenseInfo.driverLicense.zoomOutView}}" alt="" ng-click="openPic(detail.licenseInfo.driverLicense.path)">
            <div class="card_text">
                <h4>
                    驾驶证
                </h4>
                <table>
                    <tr>
                        <td>
                            <span>姓名：</span>{{detail.licenseInfo.driverLicenseName}}
                        </td>
                        <td>
                            <span>性别：</span>{{detail.licenseInfo.driverLicenseSex}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>住址：</span>{{detail.licenseInfo.driverLicenseAddr}}
                        </td>
                        <td>
                            <span> 证件号：</span>{{detail.licenseInfo.driverLicenseNo}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>采集人员：</span>{{detail.licenseInfo.driverCreateByDesc}}
                        </td>
                        <td>
                            <span>采集时间：</span>{{detail.licenseInfo.driverCreateTime | ToLocal}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card_div">
            <img ng-src="{{detail.licenseInfo.insurancePolicy.zoomOutView}}" alt="" ng-click="openPic(detail.licenseInfo.insurancePolicy.path)">
            <div class="card_text">
                <h4>
                    保单
                </h4>
                <table>
                    <tr>
                        <td>
                            <span>采集人员：</span>{{detail.licenseInfo.insCreateByDesc}}
                        </td>
                        <td>
                            <span>采集时间：</span>{{detail.licenseInfo.insCreateTime | ToLocal}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h4 ng-hide="disaster == 'yes'" class="detail_title">
        目的地变更记录
    </h4>
    <p ng-hide="disaster == 'yes'">
        <input type="button" ng-disabled='detail.status >= 8 || detail.status == 4 || detail.orderType == 3' class="button {{(detail.status >= 8|| detail.status == 4 || detail.orderType == 3)?'button_disabled':''}}"
            ng-click="goto(detail.orderNo)" value="修改目的地">
        <table class="fix_change">
            <tr ng-repeat="a in fix_change_list" ng-show="a.applyRoleDesc == '保险公司管理员' ">
                <td>
                    {{$index + 1}}、
                </td>
                <td>
                    <span>修改人员：</span>{{a.applyRoleDesc}} {{a.applyUserName}}
                </td>
                <td>
                    <span>目的地点：</span>{{a.applyAddress}}
                </td>
                <td>
                    <span>修改时间：</span>{{a.createTime | ToLocal}}
                </td>
            </tr>
        </table>
    </p>
    <h4 class="detail_title">
        收费方式变更记录
    </h4>

    <table class="fix_change" ng-repeat="a in detail.chargeModeHistories">
        <tr>
            <td>
                {{$index + 1}}、
            </td>
            <td>
                <span>修改人员：</span>{{a.createUserDesc}}
            </td>
            <td>
                <span>收费方式：</span>{{a.chargeModeDesc}}
            </td>
            <td>
                <span>修改时间：</span>{{a.createTime | ToLocal}}
            </td>
        </tr>
        <tr ng-hide="a.chargeMode == 1 || a.verifyStatus == 0">
            <td>

            </td>
            <td>
                <span>审核人员：</span>{{a.verifyUserDesc}}
            </td>
            <td>
                <span>审核状态：</span>{{a.verifyStatusDesc}}
            </td>
            <td>
                <span>审核时间：</span>{{a.verifyTime | ToLocal}}
            </td>
        </tr>
    </table>
    <h4 class="detail_title">{{text}}</h4>
    <div class="car_div" ng-repeat="driver in assignDriverses">

        <table class="driver_table" style="width: 65%;">
            <tr>
                <td>
                    任务状态：
                </td>
                <td>
                    {{driver.taskFlagDesc}}
                </td>
                <td>
                    车辆类型：
                </td>
                <td>
                    {{driver.carTypeDesc}}
                </td>
                <td ng-hide="disaster == 'yes'">
                    派遣备注：
                </td>
                <td ng-hide="disaster == 'yes'">
                    <audio ng-src="{{driver.remarkOfVoice}}" controls></audio>
                </td>
                <td ng-hide="disaster != 'yes'">
                    所属车队：
                </td>
                <td ng-hide="disaster != 'yes'">
                    {{driver.fleetName}}
                </td>
            </tr>
            <tr>
                <td>
                    派遣司机：
                </td>
                <td>
                    {{driver.driverName}}
                </td>
                <td>
                    司机电话：
                </td>
                <td>
                    {{driver.phone}}
                </td>
                <td>
                    司机ID：
                </td>
                <td>
                    {{driver.driverUserId}}
                </td>
            </tr>
        </table>
        <p>
            <span ng-hide="disaster == 'yes'" class="car_div_title">派遣司机时间：</span>
            <span ng-hide="disaster == 'yes'">{{driver.createTime | ToLocal}}</span>
            <span class="car_div_title">司机接单时间：</span>
            <span>{{driver.departureTime | ToLocal}}</span>
        </p>
        <p>
            <span class="car_div_title">到达现场时间：</span>
            <span>{{driver.accidentReachTime | ToLocal}}</span>
            <span class="car_div_title">施救完成时间：</span>
            <span>{{driver.taskEndTime | ToLocal}}</span> &emsp; &emsp; &emsp; &emsp;
            <!--<p>
            <span class="car_div_title">派遣费用：</span>
            <span>{{driver.assignPrice | Price}}</span>
            span
        </p>-->
            <button class="button" ng-hide="driver.taskEndTime != null" ng-click="track(driver,detail)">查看当前位置</button>
            <button class="button" ng-hide="driver.taskEndTime == null" ng-click="track(driver,detail)">查看历史轨迹</button>
        </p>
        <p>
            <span class="car_div_title">目的地点误差：</span>
            <span>{{driver.fixDiffDistance}}
                <span ng-hide="driver.fixDiffDistance == null">米</span>
            </span>
        </p>
        <h4>事故地点照片</h4>
        <div class="img_div">
            <img ng-repeat="a in driver.pictureAndVideo.accidentPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
        </div>
        <h4>事故地点视频</h4>
        <div class="img_div">
            <video ng-repeat="a in driver.pictureAndVideo.accidentVideos" ng-src="{{a.path}}" controls="controls"></video>
        </div>
        <h4>拖送地点照片</h4>
        <div class="img_div">
            <img ng-repeat="a in driver.pictureAndVideo.fixPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
        </div>
        <h4>拖送地点视频</h4>
        <div class="img_div">
            <video ng-repeat="a in driver.pictureAndVideo.fixVideos" ng-src="{{a.path}}" controls="controls"></video>
        </div>
        <div ng-hide="driver.taskFlag != 0 || driver.notFixAddrRemark == null || driver.carType == 1">
            <p>
                拖送结果与推修厂
                <span class="{{driver.notFixAddrRemark == '一致'?'':'red_font'}}">{{driver.notFixAddrRemark == '一致'?'一致':'不一致'}}</span>
            </p>
            <p ng-hide="driver.notFixAddrRemark == '一致'">
                {{driver.notFixAddrRemark}}
            </p>
        </div>
        <div style="width: 80%;height: 2px;background: #333;"></div>
    </div>
    <div ng-hide="confirmationDiv">
        <h4 class="detail_title">赔付信息</h4>
        <div class="car_div" ng-hide="hideZhipei">
            <p>
                <span class="car_div_title">赔付类型：</span>
                <span style="margin-right:30px;">{{detail.authDirBilCancel.directCompensationDesc}}</span>
                <button style="margin-left: 50px;" class="button" ng-click="confirmation()" ng-hide="hideButton">直赔确认书</button>
                <button class="button" ng-click="cancel()" ng-hide="hideCancelButton">取消直赔</button>
            </p>

        </div>
        <div class="car_div" ng-hide="!hideZhipei">
            <p>
                <span class="car_div_title">赔付类型：</span>
                <span>{{detail.authDirBilCancel.directCompensationDesc}}</span>
                <span ng-hide="hideCancel">
                    <span class="car_div_title">取消时间：</span>
                    <span>{{detail.authDirBilCancel.cancelTime | ToLocal}}</span>
                    <span class="car_div_title">取消人员：</span>
                    <span>{{detail.authDirBilCancel.cancelUserName}}</span>
                </span>

            </p>
            <p ng-hide="hideCancel">
                <span class="car_div_title">取消备注：</span>
                <span>{{detail.authDirBilCancel.cancelRemark}}</span>
            </p>
        </div>
    </div>

    <h4 class="detail_title">推修厂确认信息</h4>
    <div class="car_div">
        <p>
            <span class="car_div_title">推修车行：</span>
            <span>{{detail.shop4sName}}</span>

        </p>
        <p>

            <span class="car_div_title">查看时间：</span>
            <span>{{detail.shop4sReadTime | ToLocal}}</span>
            <span class="car_div_title">查看人员：</span>
            <span>{{detail.shop4sReadName}}</span>
            <span class="car_div_title">查看人员电话：</span>
            <span>{{detail.shop4sReadPhone}}</span>
        </p>
        <p>
            <span class="car_div_title">回厂车行：</span>
            <span>{{detail.shop4sNameFinal}}</span>
        </p>
        <p>
            <span class="car_div_title">确认时间：</span>
            <span>{{detail.shop4sConfirmTime | ToLocal}}</span>
            <span class="car_div_title">确认人员：</span>
            <span>{{detail.shop4sConfirmName}}</span>
            <span class="car_div_title">确认人员电话：</span>
            <span>{{detail.shop4sConfirmPhone}}</span>
        </p>

        <span class="car_div_title" style="color:#333;">车辆回厂照片</span>
        <div class="img_div">
            <img ng-repeat="a in detail.shop4sPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
        </div>
        <span class="car_div_title" style="color:#333;">拨打记录</span>
        <div class="list_table bodajilu">
            <div class="list_table_tr">
                <div style="flex:0.3">
                </div>
                <div>
                    接听角色
                </div>
                <div>
                    接听人姓名
                </div>
                <div>
                    拨打次数
                </div>
                <div>
                    首次拨打时间
                </div>
            </div>
            <div ng-repeat="a in detail.dialInfo">
                <div class="list_table_td">
                    <div ng-click="openDiv($index,a.dialType)" class="openDiv">
                        <div ng-hide="a.dialCnt == 0" style="border: none;">
                            <img src="img/bihe-s.png" alt="" ng-hide="openDetail == $index">
                            <img src="img/xiala-s.png" alt="" ng-hide="openDetail != $index">
                        </div>
                    </div>
                    <div>
                        {{dialTypeTexts[a.dialType]}}
                    </div>
                    <div>
                        {{a.dialUser}}
                    </div>
                    <div>
                        {{a.dialCnt}}
                    </div>
                    <div>
                        {{a.firstDialTime | ToLocal}}
                    </div>
                </div>
                <div class="list_table_detail bodajilu_detail" ng-hide="openDetail != $index">
                    <div>
                        拨打人员
                    </div>
                    <div>
                        <p ng-repeat="b in bodalist">
                            {{b.createName}}
                        </p>
                    </div>
                    <div>
                        拨打时间
                    </div>
                    <div>
                        <p ng-repeat="b in bodalist">
                            {{b.createTime | ToLocal}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <table class="driver_table" style="width: 70%;">
                <tr ng-repeat="a in detail.dialInfo">
                    <td>
                        {{dialTypeTexts[a.dialType]}}：
                    </td>
                    <td>
                        {{a.dialUser}}
                    </td>
                    <td>
                        拨打次数：
                    </td>
                    <td style="width:60px;">
                        {{a.dialCnt}}次
                    </td>
                    <td>
                        首次拨打时间：
                    </td>
                    <td>
                        {{a.firstDialTime | ToLocal}}
                    </td>
                </tr>
            </table> -->

    </div>
    <div class="addinspector_div">
        <h2 class="alert_add_h2">取消备注</h2>
        <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
        <textarea class="zhipeiremark" ng-model="zhipeiremark" maxlength="50"></textarea>
        <span class="zhipeiremarklength">{{zhipeiremark.length}}/50</span>
        <p>
            <button class="button" ng-click="cancelSubmit()">确定</button>
            <button class="button button_del" ng-click="close()">取消</button>
        </p>
    </div>
    <div class="alert_bg" ng-click="close()"></div>
    <div class="detail_map">
        <div id="allmap" style="width:100%"></div>
    </div>
    <div class="closeBg" ng-click="closeBG()"></div>
</div>