<div class="adddriver" ng-controller="backtotalCtrl" ng-init="initData()">
    <h2>{{title}}</h2>
    <p class="search_div">
        时间类型：<select class="input" ng-change="search()" name="" style="width:100px;" ng-model="timetype" ng-options="a.id as a.name for a in timeTypeTexts" id=""></select> 开始：
        <input type="date" id="startDay" class="input"> 结束：
        <input type="date" id="endDay" class="input"> 订单类型：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="ordertype" ng-options="a.id as a.name for a in orderTypeTexts" id=""></select>
        <button class="button" ng-click="search()" style="min-width:60px;">查询</button>
        <button class="button" ng-click="searchAll()">
            显示全部
        </button>
        <button class="button output_button" ng-click="toexcel(status,caseNo)">
            导出excel
        </button>
    </p>
    <div>
        <div class="back_factory_total">
            <span>
                总计：准确率{{total.accuracyRate}}%
            </span>
            <span>
                成功率{{total.successRate}}%
            </span>
            <span>
                总单数<span class="div_link" ng-click="goto('','')">{{total.counts}}</span>单
            </span>
            <span>
                准确推修<span class="div_link" ng-click="goto('SAME','')">{{total.accuracyCounts}}</span>单
            </span>
        </div>
    </div>
    <div class="list_table" ng-hide="table">
        <div class="list_table_tr">
            <div>
                {{url == 'backtotal'?'查勘员':'推修厂'}}
            </div>
            <div>
                准确率（%）
            </div>
            <div>
                成功率（%）
            </div>
            <div>
                总单数（单）
            </div>
            <div>
                准确推修（单）
            </div>
        </div>
        <div ng-repeat="a in orderlist">
            <div class="list_table_td">
                <div>
                    {{a.name}}
                </div>
                <div>
                    {{a.accuracyRate}}
                </div>
                <div>
                    {{a.successRate}}
                </div>
                <div class="div_link" ng-click="goto('',a.name)">
                    {{a.counts}}
                </div>
                <div class="div_link" ng-click="goto('SAME',a.name)">
                    {{a.accuracyCounts}}
                </div>
            </div>
        </div>
    </div>
    <!-- <div ui-view class="ui_view_1" ng-hide="none"></div> -->
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button>
        <button class="page_btn current_btn" disabled>{{current}}</button>
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
        <!-- 传送到<input type="text" ng-model="input_jump" ng-keypress="isNum($event)"><button ng-click="jump()" class="button" style="min-width:50px;">传送</button> -->
    </p>
</div>