<div class="adddriver" ng-controller="brandCtrl" ng-init="initData()">
    <h2>车辆品牌管理</h2>
    <p class="search_div">
        <button class="button" style="float:right" ng-click="add('')">添加车辆品牌</button>
        <input type="text" ng-model="keyword" placeholder="请输入车辆品牌" class="input" style="width:250px;" ng-model="keyword">
        <button class="button" ng-click="search()">查询</button>
        <button class="button" ng-click="searchAll()">显示全部</button>
    </p>
    <div style="text-align:center;" ng-hide="shopList.length != 0">
            <img src="img/img-none-zi.png" alt="">
        </div>
    <table cellspacing="0" cellpadding='10' class="table" ng-hide="shopList.length == 0">
        <tr class="table_1_tr">
            <td>
                车辆品牌
            </td>
            <td style="min-width:130px;">
                操作
            </td>
        </tr>
        <tr ng-repeat="a in shopList">
            <td>
                {{a.name}}
            </td>
            <td>
                <span class="button_span" style="min-width:50px;" ng-click="goto(a)">配置</span>
                <span class="button_span" style="min-width:50px;" ng-click="add(a)">修改</span>
                <span class="button_span" style="min-width:50px;" ng-click="del(a)">删除</span>
            </td>
        </tr>
    </table>
    <div class="alert_bg" ng-click="close()"></div>
    <div class="addinspector_div">
        <h2 class="alert_add_h2">{{type}}车辆品牌</h2>
        <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
        <div style="    text-align: left;    margin-left: 100px;width:300px">
            车辆品牌：
            <input type="text" class="input" style="width: 70%;" ng-model="Name" placeholder="请输入">

        </div>
        <p>
            <button class="button {{Name != ''?'':'button_disabled'}}" ng-click="submit_add()" ng-disabled="Name != '' && phone != ''?'':'true'">确定</button>
            <button class="button button_del" ng-click="close()">取消</button>
        </p>
    </div>
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button>
        <button class="page_btn current_btn" disabled>{{current}}</button>
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
</div>