<div class="adddriver" ng-controller="orderlistCtrl" ng-init="initData()">
    <h2>查看订单</h2>
    <!-- <p style="font-size: 15px;">
        订单总量：
        <span class="ordertotal">{{orderTotalCount}}</span>
    </p>
    <p style="font-size: 15px;">
        施救订单总量：
        <span class="ordertotal">{{ordertotaldate.accTotal}}</span>
        施救订单回厂确认总量：
        <span class="ordertotal">{{ordertotaldate.accConfirmTotal}}</span>
        施救回厂率：
        <span class="ordertotal">{{shop4sAccConfirm}}</span>
    </p>
    <p style="font-size: 15px;">
        非施救订单总量：
        <span class="ordertotal">{{ordertotaldate.noResTotal}}</span>
        非施救订单回厂确认总量：
        <span class="ordertotal">{{ordertotaldate.noResReadTotal}}</span>
        非施救查看率：
        <span class="ordertotal">{{shop4sNoResRead}}</span>
    </p> -->
    <p class="search_div">
        时间类型：
        <select class="input" ng-change="search()" name="" style="width:100px;" ng-model="timetype" ng-options="a.id as a.name for a in timeTypeTexts"
            id=""></select>
        开始：
        <input type="date" id="startDay" class="input"> 结束：
        <input type="date" id="endDay" class="input">
        <br>
        <br>订单状态：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="status" ng-options="a.id as a.name for a in statusTexts"
            id=""></select> 订单类型：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="ordertype" ng-options="a.id as a.name for a in orderTypeTexts"
            id=""></select>
        车保类型：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="insuranceType" ng-options="a.id as a.name for a in insuranceTypeTexts"
            id=""></select>
        <span ng-hide="zhipei">赔付类型：</span>
        <select ng-hide="zhipei" ng-change="search()" class="input" name="" style="width:100px;" ng-model="peifu" ng-options="a.id as a.name for a in peifuTexts"
            id=""></select>
        <br>
        <br> 推修结果：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="pushResult" ng-options="a.id as a.name for a in resultTypeTexts"
            id=""></select>
        目的地点误差：
        <select ng-change="search()" class="input" name="" style="width:100px;" ng-model="WuCha" ng-options="a.id as a.name for a in WuChaTexts"
            id=""></select>
        <input class="input" type="text" ng-model="caseNo" style="width:320px;" placeholder="请输入查勘员、车牌号、施救单位或推修车行简称">
        <button class="button" ng-click="search()" style="min-width:60px;">查询</button>
        <button class="button" ng-click="searchAll()" style="min-width:60px;">显示全部</button>
        <button class="button output_button" ng-click="toexcel(status,caseNo)">
            导出excel
        </button>
    </p>
    <h1>{{tips}}</h1>
    <!-- <table cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td>案件号</td>
            <td>查勘员</td>
            <td>下单时间</td>
            <td>车主</td>
            <td width="120">车主手机号</td>
            <td>订单状态</td>
            <td width="15%">施救地点</td>
            <td>施救单位</td>
            <td width="15%">施救终点地点</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="a in orderList">
            <td>{{a.caseNo}}</td>
            <td>{{a.inspectorName}}</td>
            <td>{{a.createTime | ToLocal}}</td>
            <td>{{a.accidentDriverName}}</td>
            <td>{{a.accidentDriverPhone}}</td>
            <td>{{a.statusDesc}}</td>
            <td>{{a.accidentAddress}}</td>
            <td>{{a.grabFleetName}}</td>
            <td>{{a.fixAddress}}</td>
            <td>
                <button class="detail_button" title="查看订单" ng-click="detail(a.orderNo)"></button>
                <button class="edit_button" ng-hide="a.status >= 4" title="修改订单" ng-click="editOrder(a)"></button>
                <button class="cancel_button" ng-hide="a.status >= 4" title="取消订单" ng-click="cancel(a.orderNo)"></button>
            </td>
        </tr>
    </table> -->
    <!-- <div class="list_table" ng-hide="table">
        <div class="list_table_tr">
            <div style="flex: 0.3;">
                <img src="img/bihe-s.png" alt="" ng-hide="openDetail == $index" style="opacity: 0;">
            </div>
            <div style="flex: 0.5;">
                查勘员
            </div>
            <div style="flex: 0.7;">
                下单时间
            </div>
            <div style="flex: 0.7;">
                报案人
            </div>
            <div style="flex: 0.7;">
                车牌号
            </div>
            <div style="flex: 0.5;">
                车保类型
            </div>
            <div style="flex: 0.5;">
                订单状态
            </div>
            <div>
                施救地点
            </div>
            <div>
                推修车行简称
            </div>
            <div>
                施救单位
            </div>
            <div>
                推修车行地点
            </div>
            <div>
                拖车最终位置
            </div>
            <div>
                目的地点误差(米)
            </div>
            <div>
                操作
            </div>
        </div>
        <div ng-repeat="a in orderList">
            <div class="list_table_td">
                <div ng-click="openDiv($index)" class="openDiv">
                    <img src="img/bihe-s.png" alt="" ng-hide="openDetail == $index">
                    <img src="img/xiala-s.png" alt="" ng-hide="openDetail != $index">
                </div>
                <div style="flex: 0.5;">
                    {{a.inspectorName}}
                </div>
                <div style="flex: 0.7;">
                    {{a.createTime | ToLocal}}
                </div>
                <div style="flex: 0.7;">
                    {{a.accidentDriverName}}
                </div>
                <div style="flex: 0.7;">
                    {{a.accidentCarNoDesc}}
                </div>
                <div style="flex: 0.5;">
                    {{a.insuranceTypeDesc}}
                </div>
                <div style="flex: 0.5;">
                    {{a.statusDesc}}
                </div>
                <div>
                    {{a.accidentAddress}}
                </div>
                <div>
                    {{a.orderShop4s.shop4sName}}
                </div>
                <div>
                    {{a.grabFleetName}}
                </div>
                <div>
                    {{a.fixAddress}}
                </div>
                <div>
                    {{a.fixAddressPicture}}
                </div>
                <div>
                    {{a.fixDiffDistance}}
                </div>
                <div>
                    <button class="detail_button" title="查看订单" ng-click="detail(a.orderNo)"></button>
                    <button class="edit_button" ng-hide="a.status >= 4 || whichRole == 'liSuan' || whichRole == 'shop4sAdmin'" title="修改订单" ng-click="editOrder(a)"></button>
                    <button class="cancel_button" ng-hide="a.status >= 4 || whichRole == 'liSuan' || whichRole == 'shop4sAdmin'" title="取消订单"
                        ng-click="cancel(a.orderNo)"></button>
                </div>
            </div>
            <div class="list_table_detail" ng-hide="openDetail != $index">
                <table>
                    <tr>

                        <td>
                            订单类型：
                        </td>
                        <td>
                            {{a.orderTypeDesc}}
                        </td>
                        <td ng-hide="zhipei">
                            赔付类型：
                        </td>
                        <td ng-hide="zhipei">
                            {{a.directTypeDesc}}
                        </td>
                        <td>
                            报案电话：
                        </td>
                        <td>
                            {{a.accidentDriverPhone}}
                        </td>
                        <td>
                            推修厂确认时间：
                        </td>
                        <td>
                            {{a.shop4sConfirmTime | ToLocal}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div> -->
    <div class="orderlist" ng-hide="orderList.length == 0">
        <div class="index_div">
            <div class="index_blank"></div>
            <div ng-repeat="a in orderList">{{$index + 1}}</div>
        </div>
        <table cellspacing="0">
            <tr>
                <th>
                    订单状态
                </th>
                <th>
                    推修结果
                </th>
                <th>
                    订单类型
                </th>
                <th>
                    查勘员
                </th>
                <th>
                    车牌号
                </th>
                <th>
                    下单时间
                </th>
                <th>
                    出险日期
                </th>
                <th>
                    报案人
                </th>
                <th>
                    报案电话
                </th>
                <th>
                    施救单位
                </th>
                <th>
                    施救地点
                </th>
                <th>
                    推修车行
                </th>
                <th>
                    回厂车行
                </th>
                <th>
                    确认时间
                </th>
                <th>
                    终点误差（米）
                </th>
                <th>
                    操作
                </th>
            </tr>
            <tr ng-repeat="a in orderList" ng-click="detail(a.orderNo)">
                <td>{{a.statusDesc}}</td>
                <td>{{a.statusDesc}}</td>
                <td>{{a.orderTypeDesc}} <a class="directType {{a.directTypeDesc}}">直</a> </td>
                <td>{{a.inspectorName}}</td>
                <td>{{a.accidentCarNo}}{{a.insuranceTypeDesc}}</td>
                <td>{{a.createTime | ToLocal}}</td>
                <td>{{a.statusDesc}}</td>
                <td>{{a.accidentDriverName}}</td>
                <td>{{a.accidentDriverPhone}}</td>
                <td>{{a.grabFleetName}}</td>
                <td>{{a.accidentAddress}}</td>
                <td>{{a.statusDesc}}</td>
                <td>{{a.statusDesc}}</td>
                <td>{{a.shop4sConfirmTime | ToLocal}}</td>
                <td>{{a.fixDiffDistance}}</td>
                <td>
                    <span class="button_span" style="min-width:50px;" ng-hide="a.status >= 4 || whichRole == 'liSuan' || whichRole == 'shop4sAdmin'"  ng-click="editOrder(a,$event)">修改</span>
                    <span class="button_span red_font" style="min-width:50px;" ng-click="cancel(a.orderNo,$event)"  ng-hide="a.status >= 4 || whichRole == 'liSuan' || whichRole == 'shop4sAdmin'">取消</span>
                </td>
            </tr>
        </table>

    </div>
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button>
        <button class="page_btn current_btn" disabled>{{current}}</button>
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
        <!-- 传送到<input type="text" ng-model="input_jump" ng-keypress="isNum($event)"><button ng-click="jump()" class="button" style="min-width:50px;">传送</button> -->
    </p>
</div>